@font-face {
	font-family: 'Albert';
	src        : url('../font/AlbertsthalTypewriter.ttf');
}

body {
	margin: 0;
	color : white;
}

/*
 * Header container
 */
header {
	background: #6a86ba;
}

/*
 * Header
 */
header .ui.header {
	font-family: Albert;
	position   : absolute;
}

/*
 * Sub-header
 */
header .ui.header .sub.header {
	color      : white;
	font-size  : 0.50em;
	font-family: Monospace;
}

/*
 * Content container
 */
section {
	text-align: center;
}

/*
 * Blue paint leak
 */
#paint {
	margin  : 0;
	z-index : 1;
	position: absolute;
}

/*
 * Meow button
 */
#ncat {
	margin-top: 1%;
	color     : white;
	background: #6a86ba;
}

/*
 * Cat gif container
 */
#wrap {
	display: inline-block;
}

/*
 * Cat gif
 */
#wrap img {
	max-height: 300px;
}

/*
 * Cat logo
 */
#logo {
	display: inline-block;
}

/*
 * Small screen
 */
@media (max-width: 450px) {
	header .ui.header {
		font-size  : 1.60em;
		margin-top : 5%;
		margin-left: 2%;
	}

	#logo {
		width           : 81px;
		height          : 78px;
		margin-left     : 4%;
		margin-top      : 1%;
		background-image: url('../img/cat-mini.png');
	}

	#paint {
		width           : 45px;
		height          : 57px;
		margin-top      : 80px;
		margin-left     : 60%;
		background-image: url('../img/paint-mini.png');
	}

	#wrap img {
		max-width: 300px;
	}

	#wrap {
		margin-top: 15%;
	}
}

/*
 * Medium screen
 */
@media (min-width: 450px) and (max-width: 700px) {
	header .ui.header {
		font-size  : 2.5em;
		margin-top : 1%;
		margin-left: 2%;
	}

	#logo {
		width           : 81px;
		height          : 78px;
		margin-left     : 4%;
		margin-top      : 1%;
		background-image: url('../img/cat-mini.png');
	}

	#paint {
		width           : 45px;
		height          : 57px;
		margin-top      : 80px;
		margin-left     : 65%;
		background-image: url('../img/paint-mini.png');
	}

	#wrap img {
		max-width: 350px;
	}

	#wrap {
		margin-top: 10%;
	}
}

/*
 * Large screen
 */
@media (min-width: 700px) {
	header .ui.header {
		font-size  : 3.5em;
		margin-top : 2.5%;
		margin-left: 2%;
	}

	#logo {
		width           : 162px;
		height          : 155px;
		margin-left     : 4%;
		margin-top      : 1%;
		background-image: url('../img/cat.png');
	}

	#paint {
		width           : 69px;
		height          : 87px;
		margin-top      : 165px;
		margin-left     : 50%;
		background-image: url('../img/paint.png');
	}

	#wrap img {
		max-width: 450px;
	}

	#wrap {
		margin-top: 5%;
	}
}
