@font-face {
  font-family: 'Albert';
  src        : url('../font/AlbertsthalTypewriter.ttf');
}

body {
  margin: 0;
  color : #6a86ba;
  background-color: #6b92b9;
  background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

/*
* Header container
*/
header {
  background: #cfcfcf;
}

/*
* Header
*/
header .ui.header {
  font-family: Albert;
  position   : absolute;
}

/*
* Sub-header
*/
header .ui.header .sub.header {
  color      : #6a86ba;
  font-size  : 0.50em;
  font-family: Monospace;
}

/*
* Content container
*/
section {
  text-align: center;
}

/*
* Blue paint leak
*/
#paint {
  margin  : 0;
  z-index : 1;
  position: absolute;
}

/*
* Meow button
*/
#ncat {
  margin-top: 1%;
  color     : #6a86ba;
  background: #cfcfcf;
}

/*
* Cat gif container
*/
#wrap {
  display: inline-block;
}

/*
* Cat gif
*/
#wrap img {
  max-height: 300px;
}

/*
* Cat logo
*/
#logo {
  display: inline-block;
}

/*
* Small screen
*/
@media (max-width: 450px) {
  header .ui.header {
    font-size  : 1.60em;
    margin-top : 5%;
    margin-left: 2%;
  }

  #logo {
    width           : 81px;
    height          : 78px;
    margin-left     : 4%;
    margin-top      : 1%;
    background-image: url('../img/cat-mini-xmas.png');
  }

  #paint {
    width           : 45px;
    height          : 57px;
    margin-top      : 80px;
    margin-left     : 60%;
    background-image: url('../img/paint-mini-xmas.png');
  }

  #wrap img {
    max-width: 300px;
  }

  #wrap {
    margin-top: 15%;
  }
}

/*
* Medium screen
*/
@media (min-width: 450px) and (max-width: 700px) {
  header .ui.header {
    font-size  : 2.5em;
    margin-top : 1%;
    margin-left: 2%;
  }

  #logo {
    width           : 81px;
    height          : 78px;
    margin-left     : 4%;
    margin-top      : 1%;
    background-image: url('../img/cat-mini-xmas.png');
  }

  #paint {
    width           : 45px;
    height          : 57px;
    margin-top      : 80px;
    margin-left     : 65%;
    background-image: url('../img/paint-mini-xmas.png');
  }

  #wrap img {
    max-width: 350px;
  }

  #wrap {
    margin-top: 10%;
  }
}

/*
* Large screen
*/
@media (min-width: 700px) {
  header .ui.header {
    font-size  : 3.5em;
    margin-top : 2.5%;
    margin-left: 2%;
  }

  #logo {
    width           : 162px;
    height          : 155px;
    margin-left     : 4%;
    margin-top      : 1%;
    background-image: url('../img/cat-xmas.png');
  }

  #paint {
    width           : 69px;
    height          : 87px;
    margin-top      : 165px;
    margin-left     : 50%;
    background-image: url('../img/paint-xmas.png');
  }

  #wrap img {
    max-width: 450px;
  }

  #wrap {
    margin-top: 5%;
  }
}

@-webkit-keyframes snow {
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }
  50% { background-color: #b4cfe0 }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
    background-color: #6b92b9;
  }
}
@-moz-keyframes snow {
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }
  50% { background-color: #b4cfe0 }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
    background-color: #6b92b9;
  }
}
@-ms-keyframes snow {
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }
  50% { background-color: #b4cfe0 }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
    background-color: #6b92b9;
  }
}
@keyframes snow {
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }
  50% { background-color: #b4cfe0 }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
    background-color: #6b92b9;
  }
}
