body {
	background: black;
	color: white;
}

#cat, #ncat {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}

#cat {
	max-width: 400px;
	max-height: 350px;
}

#ncat {
	width: 10em;
	height: 3em;
}