<!DOCTYPE html>
<html>
<head>
  <title>A cat factory</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="css/vendors/semantic.min.css"/>
  <link rel="icon" sizes="128x128" href="img/icon.png">
  <link rel="stylesheet" href="css/cat.css"/>
</head>
<body ng-app="cat" ng-controller="Meow" ng-keydown="onKeyDown($event)">
  <canvas class="canvas"></canvas>

  <header>
    <span class="logo"></span>
    <h2 class="ui header" style="display: inline-block;">
      A cat factory
      <p class="sub header">Since nine-meow sixty-meow</p>
    </h2>
    <span class="paint"></span>
  </header>

  <section ng-show="ready">
    <div class="wrap"></div>
    <br/>
    <button id="ncat" class="ui button" ng-click="meow()">MEOW !</button>
  </section>

  <section ng-hide="ready">
    <div class="wrap">
      <img ng-hide="error" src="img/waiting.gif"/>
      <p ng-show="error">Meow... something is wrong with cats</p>
    </div>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
